.about-content {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.organizer-div {
    width: 85%;
}

.organizer-photo {
    width: 50%;
    border-radius: 20px;
}

.organizer-intro {
    font-style: italic;
    font-weight: normal;
}

.organizer-link {
    color: #dfdfdf;
    text-decoration: none;
}

.organizer-message {
  text-align: justify;
}


.organizer-link:hover {
    color: white;
}

.about-h2 {
    font-size: 3em;
    padding-top: 6vh;
    padding-bottom: 4vh;
}

.about-p {
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 4vh;
}


@media (max-width: 768px) {

    .about-h2 {
        font-size: 2.5em;
    }

    .about-p {
        font-size: 1.2em;
    }

}