.past-event-container {
    min-height: 90vh;
    align-items: center;
}

.past-events-floating {
    font-size: 3em;
    margin-top: 8vh;
    margin-bottom: -8vh;
}

.speaker-name {
    font-size: 2em;
    font-family: 'Montserrat';
}

.speaker-name.speaker-name-small {
    font-size: 1.2em;
}

.speaker-name-div.left {
    margin-right: -1.5em;
}

.speaker-name-div.right {
    margin-left: -1.5em;
}

.speaker-department {
    font-size: 1.4em;
    font-style: italic;
}

.speaker-department.speaker-department-small {
    font-size: 0.6em;
    margin-top: 0;
}

.speaker-photo{
    width: 85%;
    border-radius: 30px;
}

.speaker-photo.photo-small {
    width: 120%;
    margin: 0;
}

.event-title {
    font-family: 'Orbitron';
    font-size: 2.2em;
}

.event-date {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 4vh;
}

.location-map {
    width: 75%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.location-name {
    margin-top: 8px;
    font-family: "Montserrat";
    font-size: 1.4em;
}

.location-address {
    font-size: 0.8em;
    font-style: italic;
    margin: 0px;
}

.talk-title {
    font-size: 2.2em;
    font-family: 'Orbitron';
    font-weight: normal;
}

.talk-title.top {
    margin-bottom: 4vh;
}

.talk-title.bottom {
    margin-top: 4vh;
}

.talk-title.talk-title-small {
    font-size: 1.2em;
    margin-top: 0px;
}

.speaker-name-div.top {
    margin-bottom: 8vh;
    margin-right: -1em;
}

.speaker-name-div.bottom {
    margin-top: 8vh;
    margin-left: -1em;
}


.speaker-name-div.single-speaker {
    margin-left: -2em;
}

.single-speaker-div {
    margin-top: 8vh;
}

@keyframes border-pulse {
    0% { border-color: var(--text-color); }
    50% { border-color: var(--highlight); }
    100% { border-color: var(--text-color); }
}

.upcoming-event-h2 {
    font-weight: bold;
    position: absolute;
    top:12px;
    left:0px;
    font-family: "Fascinate Inline";
    font-size: 1.8em;
    color:var(--highlight);
}


.no-next-event {
    background-color: var(--bg-color-med);
    min-height: 100vh;
    color: var(--bg-color-dark);
    align-items: center;
    justify-content: center;
}


.no-next-event h2 {
    margin-bottom: 10vh;
    font-size: 3em;
}

.no-next-event p {
    font-size: 1.4em;
}

.no-next-event a {
    color: var(--bg-color);
}

.no-next-event a:hover {
    color: var(--bg-color-dark);
}


.rocket-image {
    width: 75%;
}


@media (max-width: 768px) {

    .past-events-floating {
        font-size: 2.5em;
    }

    .no-next-event h2 {
        font-size: 2.5em;
    }

    .rocket-image {
        width: 50%;
    }

    .speaker-photo {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 12px;
    }

    .speaker-name {
        font-size: 1.4em;
    }

    .speaker-department {
        font-size: 1em;
    }

    .talk-title {
        font-size: 1.5em;
    }

    .event-title {
        font-size: 1.6em;
    }


}