.event-container {
    min-height: 80vh;
    align-items: center;
}

.past-events-floating {
    font-size: 3em;
    position: absolute;
    top: 6vh;
    left: 1em;
}

.event-next {
    color: var(--bg-color);
    background-color: var(--bg-color-med);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0px 40px;
}


.next-event-floating {
    font-size: 3em;
    position: absolute;
    top: 3vh;
    left: 1em;
    color: var(--bg-color);
    background-color: var(--highlight);
    padding: 0.5em 1em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    z-index: 1000;
    display: inline-block;
}

.floating-map-div {
    position: absolute;
    top: 3vh;
    right: 1em;
    width: 25%;
}

.floating-next-event-map {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.speaker-name {
    font-size: 1.8em;
    font-family: 'Montserrat';
}

.speaker-name-div.left {
    margin-right: -1.5em;
}

.speaker-name-div.right {
    margin-left: -1.5em;
}

.speaker-department {
    font-size: 1.2em;
    font-style: italic;
}

.speaker-photo{
    width: 85%;
    border-radius: 30px;
}

.event-top{
    position: relative;
}

.event-title {
    font-family: 'Orbitron';
    font-size: 2.2em;
}

.event-date {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin-bottom: 4vh;
}

.location-map {
    width: 75%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.location-name {
    margin-top: 8px;
    font-family: "Montserrat";
    font-size: 1.4em;
}

.location-address {
    font-size: 0.8em;
    font-style: italic;
    margin: 0px;
}

.talk-title {
    font-size: 2.0em;
    font-family: 'Orbitron';
    font-weight: normal;
}

.talk-title.top {
    margin-bottom: 4vh;
}

.talk-title.bottom {
    margin-top: 4vh;
}

.speaker-name-div.top {
    margin-bottom: 8vh;
    margin-right: -1em;
}

.speaker-name-div.top h2,  
.speaker-name-div.top p {  
    text-align: end;  
}

.speaker-name-div.bottom {
    margin-top: 8vh;
    margin-left: -1em;
}

.speaker-name-div.bottom h2,  
.speaker-name-div.bottom p {  
    text-align: start;  
}

.speaker-name-div.single-speaker {
    margin-left: -2em;
}

.single-speaker-div {
    margin-top: 8vh;
}


.upcoming-event-h2 {
    font-weight: bold;
    position: absolute;
    top:12px;
    left:0px;
    font-family: "Fascinate Inline";
    font-size: 1.8em;
    color:var(--highlight);
}



/********* No next event CSS handling *********/


.no-next-event {
    background-color: var(--bg-color-med);
    min-height: 100vh;
    color: var(--bg-color-dark);
    align-items: center;
    justify-content: center;
}

.no-next-event h2 {
    margin-bottom: 10vh;
    font-size: 3em;
}

.no-next-event p {
    font-size: 1.4em;
}

.no-next-event a {
    color: var(--bg-color);
}

.no-next-event a:hover {
    color: var(--bg-color-dark);
}

.rocket-image {
    width: 75%;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    margin: -20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem; 
    height: 2.5rem;
}



@media (max-width: 768px) {

    .next-event-floating {
        font-size: 2em;
        position: absolute;
        top: 3vh;
        left: 50%;
        transform: translateX(-50%);
        color: var(--bg-color);
        background-color: var(--highlight);
        border-radius: 1em;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 80vw;
        min-width: 80vw;
        z-index: 1000;
        display: inline-block;
    }

    .floating-map-div {
        position: absolute;
        top: auto;
        bottom: 3vh;
        left: 50%;
        transform: translateX(-50%);
        min-width: 80vw;
        max-width: 80vw;
    }

    .floating-next-event-map {
        height: 150px;
    }

    .past-events-floating {
        font-size: 2.5em;
    }

    .no-next-event h2 {
        font-size: 2.5em;
    }

    .rocket-image {
        width: 50%;
    }

    .speaker-photo {
        width: 120%;
        border-radius: 10px;
        margin-bottom: 12px;
    }

    .speaker-name {
        font-size: 1.2em;
        margin: 0;
    }

    .speaker-department {
        font-size: 0.9em;
    }

    .talk-title {
        font-size: 1.3em;
        margin-bottom: 4vh;
    }

    .event-title {
        font-size: 1.6em;
    }

    .no-next-event p {
        font-size: 1.2em;
    }
}