.footer-container {
    padding: 10px 0px;
}

.email-href {
    text-decoration: none;
    color: var(--text-color);
}

.email-href:hover {
    color:white;
}

.copyright-message {
    font-size: 0.75em;
    color: rgba(240,239,246,0.5);
}