.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 10px;
}


.gallery-image-desktop {
    display: block;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 75%;
    width: auto;
    height: auto;
}

.gallery-image-mobile {
    display: block;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 100%;
    width: auto;
    height: auto;
}

.gallery-title-h2 {
    font-size: 3em;
    padding-top: 4vh;
    margin-bottom: 4vh;
}

.gallery-p {
    font-size: 1.4em;
}


@media (max-width: 768px) {

    .gallery-title-h2 {
        font-size: 2.5em;
    }

    .gallery-p {
        font-size: 1.2em;
    }

}
