.welcome-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Orbitron';
}

.astro-title{
    font-size: 2.5em;
    font-weight: normal;
}

.rhode-island-title{
    font-size: 1.2em;
    font-weight: normal;
}
  
.galaxy {
    height: auto;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .galaxy {
        animation: galaxy-spin 10s linear infinite alternate;
    }
}

.welcome-header {
    align-items: center;
    justify-content: center;
    font-size: clamp(1em, 2vw, 1.5em);;
}



.social-container {
    margin-top: 30px;
}

.social-icons {
    text-decoration: none;
    color: var(--text-color);
    margin: 0px 20px;
}

.social-icons:hover {
    color: white;
}

.fa-icon {
    height: 2.2em;
}

.arrow-div {
    margin-top: 24vh;
}

.arrow-href {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.5;
}

.arrow-href:hover {
    color:white;
    opacity: 1.0;
}

.arrow-icon {
    height: 3em;
}



@keyframes galaxy-spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


@media (max-width: 768px) {

    .arrow-div {
        margin-top: 10vh;
    }

}